.container {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  box-shadow: 0 15px 15px #00000029;
  z-index: 1000;
  position: sticky;
  top: 0;
}
.input {
  position: relative;
  width: 400px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #0e3188;
  padding: 0 5px;
  box-shadow: inset 0 0 5px #00000027;
}

.input input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  z-index: 2;
  padding-left: 7px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif3;
  border-radius: 50px;
  border: none;
  outline: none;
  background: none;
  color: #0e3188;
  font-weight: 600;
}

.input label {
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  font-size: 20px;
  opacity: 0.3;
  z-index: 1;
  user-select: none;
  display: flex;
  align-items: center;
  color: #0e3188;
  font-weight: 600;
}
.input button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  margin-left: 15px;
  width: 50px;
  font-size: 1rem;
  border-radius: 40px;
  background-color: #ff2108;
  border: 2px solid #0000003d;
  color: #fff;
  cursor: pointer;
  animation: showBtn 0.5s forwards;
}
.input button:hover {
  background-color: #b81200;
}
.input ul {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  position: absolute;
  top: 50px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 15px;
  box-shadow: 0 0 15px #000;
  animation: showList 0.5s forwards;
}
::-webkit-scrollbar {
  width: 0;
}
.input ul li {
  cursor: pointer;
  padding: 5px 5px;
  /* border-bottom: 1px solid #0e3188; */
  font-weight: 600;
  border-radius: 10px;
}
.input ul li:hover {
  color: #fff;
  background-color: #0e3188;
}
.getBtn {
  margin-left: 5px;
  background-color: #0e3188;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  color: #fff;
  border: none;
  cursor: pointer;
  border: 2px solid #00000070;
  font-weight: 600;
  font-size: 1.2rem;
}
.getBtn:hover {
  background-color: #1f55df;
}

@keyframes showBtn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showList {
  0% {
    height: 0px;
  }

  100% {
    height: 200px;
  }
}
