.card {
  width: 250px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 15px #000;
  animation: show 1s forwards;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card div {
  display: flex;
  width: 100%;
  padding: 0 15px;
  justify-content: space-evenly;
  text-align: center;
}

@keyframes show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
